# Example configuration using an embedded H2 database
# https://www.h2database.com/html/main.html
server:
  port: 8800
logging.level:
  root: INFO
  org.springframework.web: INFO
  org.hibernate: INFO
spring:
  datasource:
    url: jdbc:h2:mem:testdb
    driverClassName: org.h2.Driver
    username: sa
    password:
  jpa:
    properties:
      hibernate:
        hbm2ddl:
          auto: validate
    hibernate:
      show_sql: true
      use_sql_comments: true
      format_sql: true
      ddl-auto: none
  h2:
    console:
      enabled: true

liquibase:
  change-log:
    classpath:account_changeset.yml

axon:
  axonserver:
    enabled: false

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics

